examples/saved_models/
.DS_Store
2
rps_venv
__pycache__/
pytorch-softdtw-cuda/__pycache__
*.png
*.pkl
*.pth
*.pt
*.npz
data/
my_rps_dataset/data/
my_rps_dataset/landmarks/
my_rps_dataset/features/
my_rps_dataset/featuresv1/
my_rps_dataset/features_angles/
my_rps_dataset/features_coords/
my_rps_dataset/features_angles2/
rock-paper-scissors-11/
runs/
pytorch-softdtw-cuda/

modules/get_frames.ipynb
modules/out.txt
data_cleaning_test

modules/find_prototype_sample_time.ipynb